#container{
    display: flex;
    justify-content: space-between;
    background-color: oldlace;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    /* height: 565px; */
}
#befor{
    display: flex;
    padding:20px;
    align-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 40%;
    /* height: auto; */
    /* flex-basis: 60px; */
    background-color: rgb(249, 214, 147);
    border-radius: 15px;

}
.items{
    margin: 5px;
    height: 60px;
    width: 60px;
}
#buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(143, 112, 56);
    border-radius: 15px;
    overflow: auto;
    height: 550px;
    padding: 10px 0 10px 0;

}
.btn{
    height: 30px;
    width: auto;
    border-radius: 10px;
    margin: 3px;
    text-align: left;

}
#after{
    display: flex;
    padding:20px;
    align-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 40%;
    background-color: rgb(249, 214, 147);
    border-radius: 15px;
}
@media (min-width: 360px) {
    #container{
        width: 100vw;
        background-color: rgb(252, 232, 195);
    }

}
@media (min-width: 560px) {
    #container{
        width: 90vw;
    }
}
.square{
    background: salmon;
    margin-left: 5px;

}
.triangle{
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-top: 0;    
    border-bottom: 60px solid salmon;
    margin-left: 5px;

}
.circle{
    background: salmon;
    border-radius: 50%;
    margin-left: 5px;
}
.redCircle{
    background: rgb(255, 25, 0);
    border-radius: 50%;
    margin-left: 5px;
}
.green{
    background: rgb(9, 158, 14);
    margin-left: 5px;

}
.blu{
    background-color: darkslateblue;
}

.triangle.blu{
    background-color: none;
    border-bottom-color: darkslateblue;

}












